<div class="about-container">
	<h1>Nossos dedoxes</h1>
	<h2>Na nossa pequena oficina</h2>
	<p>Os dedoches que criamos são feitos feitos à mão, do começo ao fim. Eles são desenvolvidos a partir de pesquisas e principalmente da nossa imaginação. Cada peça é criada e costurada com todo carinho e amor.</p>
	<p>A Dedoxis surgiu em 2016 com o propósito de resgatar um pedacinho da nossa infância e repassar para as próximas gerações. Em um mundo cheio de tecnologias e distrações, nada poderia superar a atenção e o carinho de brincar com uma criança com um dedoche.</p>
	<p>Nós amamos fazer os Dedoxis e temos muito orgulho e satisfação em compartilhar eles com crianças e adultos.</p>
	<h2>Disponibilidade</h2>
	<p>Como cada unidade é feita a mão, não temos como ter um estoque muito grande. Além disso, as peças podem ter pequenas diferenças entre uma e outra (mesmo do mesmo tipo).</p>
	<p>Caso queira fazer algum pedido especial fale com a gente pela nossa página de contato.</p>
</div>